---
---
@import 'reset.scss';

$breakpoint-tablet: 700px;
$breakpoint-mobile: 400px;

$border-color: #ddd;
$border-radius: 4px;

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.page-content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 600px;
}

header {
  padding: 1em 0 4em 0;

  @media screen and (max-width: $breakpoint-tablet) {
    padding-bottom: 1em;
  }

  h1 {
    font-weight: 600;
    font-size: 2.4rem;
  }

  .subhead {
    @include clearfix;

    &> p {
      float: left;

      @media screen and (max-width: $breakpoint-mobile) {
        float: none;
        margin-bottom: 0.3em;
      }
    }

    .links {
      float: right;

      @media screen and (max-width: $breakpoint-mobile) {
        float: none;
      }

      &>a {
        text-align: right;
        margin-left: 6px;

        @media screen and (max-width: $breakpoint-mobile) {
          text-align: left;
          margin-left: 0;
          margin-right: 6px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 80%;

  .footer-links > li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@import 'base.scss';
@import 'projects.scss';
