---
layout: default
title: Projects and Websites
description: Projects and websites that I've worked on.
---
<section class="projects">
  <h2 class="section-title">Projects and Websites</h2>

  {% for project in site.projects reversed %}
  <div class="project">
    <h3>
      {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{project.title}}</a>
      {% else %}
        {{ project.title }}
      {% endif %}

      <small class="meta">({{ project.date | date: "%Y" }})</small>
    </h3>

    {{ project.content }}
  </div>
  {% endfor %}
</section>
