---
layout: default
title: Web and mobile developer
description: Hi, I'm Alex - a web and mobile developer based in Brisbane, Australia. In other words, I spend a lot of time indoors making things for the internet.
---

<div id="home">
  <section class="short-about">
    <h2>
      <strong>Hi, I'm Alex &mdash; a web developer.</strong>
    </h2>

    <p>
      Based in Brisbane, Australia. Every now and again I'll update this website
      with a new <a href="/posts">blog post</a>, a
      <a href="/projects">project</a> I've worked on, or a
      <a href="/photos">photo</a> I've taken.
    </p>

    <p>
      Want to get in touch?
      <a href="mailto:alex@alexplescan.com" target="_blank">Send me an email</a>
      or <a href="https://twitter.com/alexplescan" target="_blank">a tweet</a>.
    </p>

    <p>
      How about an email when I next post something?
      <a href="https://buttondown.email/alexplescan" target="_blank"
        >Subscribe to my newsletter</a
      >.
    </p>
  </section>

  <section class="latest">
    <h3>Latest blog posts</h3>
    <ul class="posts">
      {% assign epoch = '2022-01-01' | date: '%s' %} {% for post in site.posts
      limit:4 %} {% assign post_date = post.date | date: '%s' %} {% if post_date
      >= epoch %}
      <li class="post-line">
        <a href="{{post.url}}">{{post.title}}</a>
        <time class="posted-at" datetime="{{post.date}}"
          >({{ post.date | date: "%-d %B %Y" }})</time
        >
      </li>
      {% endif %} {% endfor %}
    </ul>
  </section>

  <section class="latest">
    <h3>Latest projects</h3>
    <ul>
      {% assign projects = site.projects | sort: "date" | reverse %} {% for
      project in projects limit:3 %}
      <li class="post-line">
        <a href="{{project.link}}">{{project.title}}</a>
        <time class="posted-at" datetime="{{project.date}}"
          >({{ project.date | date: "%Y" }})</time
        >
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="latest-photo">
    {% assign photos = site.photos | reverse %} {% for photo in photos limit:1
    %}
    <div class="photo">
      {% picture fullwidth assets/photo/{{photo.filename}} --alt {{photo.alt}}
      %}
    </div>
    {% endfor %}
  </section>
</div>
