---
layout: default
title: Web and mobile developer
description: Hi, I'm Alex - a web and mobile developer based in Brisbane, Australia. In other words, I spend a lot of time indoors making things for the internet.
---

<div id="home">
  <section class="short-about">
    <h2>
      <strong>Hi, I'm Alex &mdash; a web and mobile developer.</strong>
    </h2>

    <p>
      Currently based in Brisbane, Australia.
      Every now and again I'll update this website with a new <a href="/posts">blog post</a>, a 
      <a href="/projects">project</a> I've worked on, or a <a href="/photos">photo</a> I've taken.
    </p>

    <p>
      Want to get in touch?
      <a title="Send me an email" href="mailto:alex@alexplescan.com" target="_blank">Send me an email</a>
      or
      <a title="Visit my Github" href="https://github.com/alexpls" target="_blank">check out my GitHub</a>.
    </p>
  </section>

  <section class="from-the-blog">
    <h3>Latest blog posts&hellip;</h3>
    <ul>
      {% for post in site.posts limit:3 %}
        <li class="post-line">
          <a href="{{post.url}}">{{post.title}}</a>
          <time class="posted-at" datetime="{{post.date}}">({{ post.date | date: "%-d %B %Y" }})</time>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="latest-photo">
    <h3>Latest photo&hellip;</h3>
    {% for photo in site.photos reversed %}
      {% if forloop.first %}
        <div class="photo">
          {% picture fullwidth assets/photo/{{photo.filename}} %}
        </div>
      {% endif %}
    {% endfor %}
  </section>
</div>
