{{- $img := .Page.Resources.Get .Destination -}}
{{- $fallbackImg := $img.Process ( print "resize 640x jpg" ) -}}
{{- $alt := .Text -}}

{{- $dpi_multipliers := slice 1 2 3 -}}
{{- $breakpoints := slice
  (dict "imageWidth" 430 "mediaQuery" "(max-width: 430px)")
  (dict "imageWidth" 655 "mediaQuery" "(min-width: 431px)")
-}}
{{- $variants := slice
  (dict "type" "webp" "contentType" "image/webp")
  (dict "type" "jpg" "contentType" "image/jpeg")
-}}

<picture>
  {{- range $variant := $variants -}}
    {{- range $breakpoint := $breakpoints -}}
      {{- if ge $img.Width $breakpoint.imageWidth -}}
        <source type="{{ $variant.contentType }}" media="{{ $breakpoint.mediaQuery }}" srcset="
          {{- range $i, $multiplier := $dpi_multipliers -}}
            {{- $multipliedWidth := mul $breakpoint.imageWidth $multiplier -}}
            {{- if $i }}, {{ end -}}
            {{- ($img.Process (print "resize " $multipliedWidth "x " $variant.type)).RelPermalink -}}
            {{- if ne $multiplier 1 -}}
              {{- print " " $multiplier "x" -}}
            {{- end -}}
          {{- end -}}
        " />
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <img src="{{ $fallbackImg.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $alt }}" />
</picture>
{{- /* swallow trailing newline */ -}}
