<head>
  <meta charset="utf-8" />

  {% seo %}

  <link
    rel="alternate"
    type="application/rss+xml"
    title="Alex Plescan"
    href="https://alexplescan.com/feed.xml"
  />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Inline crucial CSS to speed up page load: https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery -->
  <style type="text/css">
    {% capture inlined %}
      {% include crucial_css.scss %}
    {% endcapture %}
    {{ inlined | scssify }}
  </style>

  <link
    rel="stylesheet"
    type="text/css"
    href="/css/styles.css?cache={{ site.time | date: '%s' }}"
  />

  <link rel="shortcut icon" sizes="180x180" href="/assets/favicon.png" />
  <link rel="shortcut icon" sizes="36x36" href="/assets/favicon.png" />
  <meta name="theme-color" content="#2C3E50" />

  {% if site.analytics %}
  <script
    defer
    data-domain="alexplescan.com"
    src="https://plausible.io/js/plausible.js"
  ></script>
  {% endif %}
</head>
