<head>
  <meta charset="utf-8"></title>

  {% seo %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/styles.css?cache={{ site.time | date: '%s' }}">

  <!-- I know it's ugly but look: https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery -->
  <style type="text/css">
    {% capture inlined %}
      {% include crucial_css.scss %}
    {% endcapture %}
    {{ inlined | scssify }}
  </style>

  {% include death_by_favicons.html %}
</head>
