<head>
  <meta charset="utf-8"></title>
  
  {% seo %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/styles.css?cache={{ site.time | date: '%s' }}">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css?cache={{ site.time | date: '%s' }}">

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <script type="text/javascript" async src="/js/main.js?cache={{ site.time | date: '%s' }}"></script>

  {% include death_by_favicons.html %}
</head>
