<div class="newsletter-subscribe">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/alexplescan"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/alexplescan', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <h4>
      <label for="bd-email">Receive an email when I next post</label>
    </h4>
    <div class="subscribe-input">
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="Your email address"
      />
      <input type="submit" value="Subscribe" />
    </div>
    <small
      >(You'll get no more than one email per post. I manage this list with
      <a target="_blank" href="https://buttondown.email">Buttondown</a>).</small
    >
  </form>
</div>
