html {
  background-color: $background-color;
}

body {
  color: $text-color;
}

a {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 10px;
}

span.bullet {
  font-size: 55%;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $main-container-width;
}

.top-header {
  @include clearfix;

  padding: 0.7rem 0;
  margin-bottom: $vertical-margin;

  background: #2C3E50;

  a {
    color: $background-color;
  }

  h1 {
    @include fontSizeNormal();
    font-weight: 800;

    float: left;
    margin: 0;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
    }

    a {
      text-decoration: none;
    }
  }

  .subhead {
    float: right;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
    }

    .links {
      @include fontSizeSmall();
      $link-margin: 10px;

      &>a {
        text-align: right;
        margin-left: $link-margin;

        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: white;
          font-weight: 600;
        }

        @media screen and (max-width: $breakpoint-mobile) {
          text-align: left;
          margin-left: 0;
          margin-right: $link-margin;
        }
      }
    }
  }
}

section {
  margin-bottom: 2rem;
}

footer.container {
  @include fontSizeSmaller();
  color: $text-muted-color;
  text-align: center;
  margin-bottom: 2rem;

  @media screen and (max-width: $breakpoint-mobile) {
    small {
      display: block;
      margin-top: 10px;
    }
  }

  small a {
    color: $text-muted-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

section.page-not-found {
  text-align: center;
}
