html {
  background-color: $background-color;
}

body {
  color: $text-color;
}

a {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 10px;
}

span.bullet {
  font-size: 55%;
  vertical-align: middle;
}

input {
  @include fontSizeScaled(1.2);
  min-width: 0;
  padding: 8px 16px;
  border-radius: $border-radius;
  border: 2px solid $light-border-color;
  outline: 0;
}

input:focus {
  border-color: $link-hover-color;
}

input[type="email"] {
  max-width: 300px;
}

input[type="submit"] {
  @include fontSizeNormal;
  cursor: pointer;
  background-color: $link-color;
  color: white;
  font-weight: 600;
  border-color: $link-hover-color;

  transition: background-color ease-in-out 120ms;
}

input[type="submit"]:hover {
  background-color: $link-hover-color;
}

@media screen and (max-width: $breakpoint-mobile) {
  input {
    padding: 6px 8px;
    @include fontSizeScaled(0.8);
  }

  input[type="submit"] {
    @include fontSizeScaled(0.8);
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $main-container-width;
}

.top-header {
  @include clearfix;

  padding: 0.7rem 0;
  margin-bottom: $vertical-margin;

  background: #2C3E50;

  a {
    color: $background-color;
  }

  h1 {
    @include fontSizeNormal();
    font-weight: 800;

    float: left;
    margin: 0;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
    }

    a {
      text-decoration: none;
    }
  }

  .subhead {
    float: right;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
    }

    .links {
      $link-margin: 10px;

      @include fontSizeSmall();
      line-height: $normal-line-height;

      &>a {
        text-align: right;
        margin-left: $link-margin;

        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: white;
          font-weight: 600;
        }

        @media screen and (max-width: $breakpoint-mobile) {
          text-align: left;
          margin-left: 0;
          margin-right: $link-margin;
        }
      }
    }
  }
}

section {
  margin-bottom: 2rem;
}

footer.container {
  @include fontSizeSmaller();
  color: $text-muted-color;
  text-align: center;
  margin-bottom: 2rem;

  @media screen and (max-width: $breakpoint-mobile) {
    small {
      display: block;
      margin-top: 10px;
    }
  }

  small a {
    color: $text-muted-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

section.page-not-found {
  text-align: center;
}

.newsletter-subscribe {
  text-align: center;

  label {
    display: block;
  }

  small {
    display: block;
    @include fontSizeScaled(0.8);
    margin-top: 0.5rem;
    color: $text-muted-color;
  }

  .subscribe-input {
    display: flex;
    justify-content: center;

    input[type="email"] {
      flex-shrink: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    input[type="submit"] {
      flex-shrink: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
