html {
  background-color: $background-color;
}

body {
  color: $text-color;
}

a {
  color: $link-color;
}
a:hover {
  color: $link-hover-color;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 10px;
}

span.bullet {
  font-size: 55%;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 720px;
}

.top-header {
  @include clearfix;

  padding: 8px 0;
  margin-bottom: $vertical-margin;

  background: #2C3E50;

  a {
    color: $background-color;
  }

  h1 {
    float: left;

    margin: 0;
    font-size: $baseFontSize * 1px;
    line-height: $baseFontSize * $baseLineHeight * 1px;
    font-weight: 800;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
    }

    a {
      text-decoration: none;
    }
  }

  .subhead {
    float: right;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
    }

    .links {
      $link-margin: 10px;
      font-size: $baseFontSize * 0.9px;
      line-height: $baseFontSize * $baseLineHeight * 1px;

      &>a {
        text-align: right;
        margin-left: $link-margin;

        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: white;
          font-weight: 600;
        }

        @media screen and (max-width: $breakpoint-mobile) {
          text-align: left;
          margin-left: 0;
          margin-right: $link-margin;
        }
      }
    }
  }
}

section {
  margin-bottom: $vertical-margin;
}

footer {
  text-align: center;
  font-size: 80%;

  .footer-links > li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }
}
