pre, code {
  background: white;
  white-space: pre-wrap;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  @include fontSizeScaled(0.7);
}

code.highlighter-rouge {
  padding: 2px 4px;
  border: 1px solid $light-border-color;
  border-radius: 4px;
}

figure.highlight, div.highlighter-rouge {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid $light-border-color;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  padding: 8px 10px;
  background: white;

  table {
    margin: 0;
  }
}
