#home {
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  section.short-about {
    margin-bottom: $vertical-margin;
  }
}

section.from-the-blog {
  & > ul {
    list-style-type: none;
    margin-left: 0;
  }

  .post-line {
    .posted-at {
      color: $text-muted-color;
      @include fontSizeSmall();
    }
  }
}
