#home {
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  section.short-about {
    margin-bottom: $vertical-margin;
  }
}

ul.posts {
  list-style-type: none;
  margin-left: 0;

  .post-year-posts {
    list-style-type: none;
    margin-left: 0;
    margin-top: 4px;
  }

  .post-line {
    .posted-at {
      color: $text-muted-color;
      @include fontSizeSmall();
    }
  }
}
