

.post-header {
  text-align: center;

  p.subtitle {
    color: $text-muted-color;
  }
}

.post-content {
  margin-bottom: 2rem;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ddd;

    @media screen and (max-width: $main-container-width) {
      width: 100%;
    }
  }

  img.no-border {
    border: 0;
  }
}

// an image caption
img + em {
  display: block;
  @include fontSizeSmall();
  margin-top: -2rem;
  color: $text-muted-color;
  text-align: center;
}

#posts article:after {
  content: '• • •';
  margin-bottom: 3rem;
  display: block;
  width: 100%;
  position: relative;
  color: $text-muted-color;
  text-align: center;
  opacity: 0.2;
}

ol {
  list-style-type: decimal;
  margin-left: 25px;

  li {
    padding-bottom: 0.3rem;
  }
}

.pagination {
  @include fontSizeSmall();
  text-align: center;

  .current {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
  }
}
