.post-header {
  text-align: center;

  p.subtitle {
    color: $text-muted-color;
  }
}

.post-content {
  margin-bottom: $leading * 2;

  img {
    display: block;
    width: auto;
    margin: 0 auto;
    border: 1px solid #ddd;

    @media screen and (max-width: $main-container-width) {
      width: 100%;
    }
  }

  img.no-border {
    border: 0;
  }
}

// an image caption
img + em {
  display: block;
  font-size: $smallFontSize;
  margin-top: -($leading/2);
  color: $text-muted-color;
  text-align: center;
}

#posts article:after {
  content: '• • •';
  margin-bottom: $leading * 3;
  display: block;
  width: 100%;
  position: relative;
  color: $text-muted-color;
  text-align: center;
  opacity: 0.2;
}
