.section-title {
  @include overhang(0px);

  font-size: 3rem;
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
}

.projects {
  .project {
    margin-bottom: 4em;

    h5 {
      .meta {
        float: right;
        font-weight: normal;
      }
    }

    .feature {
      @include overhang(0px);
      border-bottom: 1px solid $border-color;
    }
  }

  $feature-height: 170px;
  $feature-height-tablet: 120px;
  $feature-height-mobile: 80px;

  .soonlist-feature {
    height: $feature-height;
    @media screen and (max-width: $breakpoint-tablet) {
      height: $feature-height-tablet;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      height: $feature-height-mobile;
    }

    overflow: hidden;

    margin-left: $overhang-width;
    margin-right: $overhang-width;

    @media screen and (max-width: $breakpoint-tablet) {
      margin-left: 4px;
      margin-right: 4px;
    }

    .phone {
      float: left;
      display: inline-block;
      width: 33.33333%;

      height: $feature-height + 30px;
      @media screen and (max-width: $breakpoint-tablet) {
        height: $feature-height-tablet + 30px;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        height: $feature-height-mobile + 30px;
      }

      border-radius: $border-radius;
      border: 2px solid $border-color;
      box-sizing: border-box;

      $translateX: 33px;

      @media screen and (max-width: $breakpoint-tablet) {
        $translateX: 28px;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        $translateX: 10px;
      }

      &.first {
        -webkit-transform: perspective(500px) rotateY(8.3deg) scale(0.73, 0.8) translate(-$translateX, -8px);
      }

      &.third {
        -webkit-transform: perspective(500px) rotateY(-8.3deg) scale(0.73, 0.8) translate($translateX, -8px);
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .image-feature {
    height: $feature-height;
    overflow: hidden;
    text-align: center;
    margin-left: $overhang-width;
    margin-right: $overhang-width;

    @media screen and (max-width: $breakpoint-tablet) {
      margin-left: 4px;
      margin-right: 4px;
    }

    img {
      border-radius: $border-radius;
      border: 1px solid $border-color;
      border-bottom: 0;
      width: 100%;
      box-sizing: border-box;
      height: auto;
    }
  }
}

.other-work {
  margin-bottom: 2.5rem;

  p {
    margin-bottom: 1rem;
  }

  .description {
    color: #999;
  }
}
