/*! Typebase.scss v0.1.0 | MIT License */

html {
  font-family: Lato, sans-serif;
  font-size: $baseFontSize / 16 * 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: $leading;
  margin-top: 0;
  margin-bottom: 1rem;

  + h1, +h2, +h3, +h4, +h5, +h6 {
    margin-top: 2rem;
  }
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;

  li {
    line-height: $leading;
  }

  ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

blockquote {
  line-height: $leading;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: $leading;

  &+ .subtitle {
    margin-top: -0.8rem;
    font-size: $scale * 0.6 * 1rem;
  }
}

h1 {
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
  margin-bottom: 2 * $leading;
}

h2 {
  font-weight: 600;
  font-size: 1.2 * $scale * 1rem;
  line-height: 1.2 * $leading;
}

h3 {
  font-size: 1 * $scale * 1rem;
}

h4 {
  font-size: $scale / 1.5 * 1rem;
  font-weight: bold;
}

h5 {
  font-size: $scale / 2 * 1rem;
  font-weight: bold;
}

h6 {
  font-size: $scale / 2.5 * 1rem;
  font-weight: bold;
}

small {
  font-size: 80%;
}
