$normal-font-size: 18px;
$normal-line-height: $normal-font-size * 1.6;

@mixin fontSizeScaled($scale) {
  font-size: $normal-font-size * $scale;
  line-height: $normal-line-height * $scale;
}

@mixin fontSizeNormal() { 
  @include fontSizeScaled(1);
}

@mixin fontSizeLarge() {
  @include fontSizeScaled(1.2);
}

@mixin fontSizeLarger() {
  @include fontSizeScaled(1.4);
}

@mixin fontSizeSmall() {
  @include fontSizeScaled(0.9);
  line-height: $normal-font-size * 1.3;
}

@mixin fontSizeSmaller() {
  @include fontSizeScaled(0.8);
  line-height: $normal-font-size * 1.3;
}
