{{ define "main" }}
  <div class="flex items-center relative border-b border-b-zinc-400 dark:border-b-slate-600 h-[30vh] md:h-[40vh]">
    <div class="max-w-2xl px-3 mx-auto text-pretty text-center drop-shadow-2xl">
      <h1 class="text-2xl md:text-3xl font-bold mb-7 text-zinc-800 dark:text-slate-200">
        Hey, I&rsquo;m Alex &mdash; I make websites
      </h1>

      <p class="text-lg lg:text-xl leading-relaxed max-w-xl">
        This is my home on the internet, where I post about
        things I&rsquo;m working on, and things I&rsquo;ve
        learned along the way.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-12 mx-auto max-w-4xl py-12 px-3 gap-16">
    <div class="col-span-full md:col-span-7">
      {{ $numPosts := 5 }}
      <h2 class="text-xl font-bold mb-4 text-zinc-800 dark:text-slate-200">Latest posts</h2>
      <ul class="list-disc ml-4">
        {{ range site.RegularPages.Limit $numPosts }}
          <li class="mb-6 marker:text-zinc-400 dark:marker:text-slate-500">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}" class="text-sm text-zinc-500 dark:text-slate-400">{{ $dateHuman }}</time>
            <div>
              <a class="ap-link font-bold no-underline hover:underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </div>
            <p class="text-sm text-justify text-zinc-500 dark:text-slate-400">
              {{ .Summary }}
              <a href="{{ .RelPermalink }}" class="ap-link text-sm">Keep reading&hellip;</a>
            </p>
          </li>
        {{ end }}
      </ul>

      {{ if gt site.RegularPages.Len $numPosts }}
        <a href="/posts" class="ap-link">View {{ sub site.RegularPages.Len $numPosts }} more posts</a>
      {{ end }}
    </div>

    <div class="col-span-full md:col-start-9 md:col-span-4">
      <h2 class="text-xl font-bold mb-4 text-zinc-800 dark:text-slate-200">Elsewhere&hellip;</h2>

      <ul class="list-disc ml-4">
        <li class="marker:text-zinc-400 dark:marker:text-slate-500">
          <a href="/newsletter" class="ap-link hover:underline no-underline">Newsletter</a>
        </li>
        <li class="marker:text-zinc-400 dark:marker:text-slate-500">
          <a href="/index.xml" class="ap-link hover:underline no-underline">RSS feed</a>
        </li>
        <li class="marker:text-zinc-400 dark:marker:text-slate-500">
          <a href="https://github.com/alexpls" class="ap-link hover:underline no-underline">GitHub</a>
        </li>
        <li class="marker:text-zinc-400 dark:marker:text-slate-500">
          <a href="https://x.com/alexplescan" target="_blank" class="ap-link hover:underline no-underline">Twitter</a>
        </li>
        <li class="marker:text-zinc-400 dark:marker:text-slate-500">
          <a href="mailto:alex@alexplescan.com" target="_blank" class="ap-link hover:underline no-underline">Email</a>
        </li>
      </ul>
    </div>
  </div>
{{ end }}

