{{ define "main" }}
  <div class="border-b dark:border-b-slate-600 py-20">
    <div class="max-w-2xl px-3 mx-auto text-pretty">
      <h1 class="text-3xl font-bold mb-7 dark:text-slate-200">
        Hey, I&rsquo;m Alex &mdash; a software engineer
      </h1>

      <div class="text-lg lg:text-xl">
        <p class="mb-3 lg:mb-5">
          &hellip; which is a fancy way of saying I make websites.
          Every now and again I&rsquo;ll post here about
          something learned along the way.
        </p>

        <p class="mb-3 lg:mb-5">
          To stay up to date you can subscribe to my
          <a href="#" class="ap-link">newsletter</a>,
          or
          <a href="#" class="ap-link">RSS feed</a>.
        </p>

        <p>
          You can find me elsewhere on
          <a href="https://github.com/alexpls" class="ap-link">GitHub</a>,
          <a href="https://twitter.com/alexplescan" class="ap-link">Twitter</a>,
          and
          <a href="mailto:alex@alexplescan.com" class="ap-link">email</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="max-w-2xl px-3 mx-auto py-12">
    <div class="max-w-md">
      {{ $numPosts := 3 }}
      <h2 class="text-xl font-bold mb-4 dark:text-slate-300">Latest posts</h2>
      <ul class="list-disc ml-4">
        {{ range site.RegularPages.Limit $numPosts }}
          <li class="mb-6 marker:text-slate-500">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}" class="text-sm dark:text-slate-400">{{ $dateHuman }}</time>
            <div>
              <a class="font-bold dark:text-slate-300 hover:underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </div>
            <p class="text-sm text-justify dark:text-slate-400">{{ .Summary }}</p>
            <p><a href="{{ .RelPermalink }}" class="ap-link text-sm">Read more</a></p>
          </li>
        {{ end }}
      </ul>

      {{ if gt site.RegularPages.Len $numPosts }}
        <a href="/posts" class="ap-link">View {{ sub site.RegularPages.Len $numPosts }} more posts</a>
      {{ end }}
    </div>
  </div>
{{ end }}

