{{ define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format "2 Jan. 2006" }}

  <div class="mx-4 py-12 lg:py-24 text-center">
    <div class="mx-auto">
      <h1 class="text-3xl sm:text-4xl font-bold text-zinc-800 dark:text-slate-200 mb-2">{{ $.Title }}</h1>
      <time datetime="{{ $dateMachine }}" class="hidden lg:block">{{ $dateHuman }}</time>
    </div>
  </div>

  <div class="px-4 flex flex-col-reverse lg:flex-row justify-center gap-6">
    <div class="min-w-0">
      <article class="mx-auto break-words ap-prose max-w-[760px]">
        {{ .Content }}
      </article>

      <div class="mt-20">
        {{ partial "newsletter.html" }}
      </div>
    </div>

    <aside class="min-w-[300px] max-w-[360px] mx-auto lg:mx-0 flex-shrink-0 max-lg:border border-zinc-300 dark:border-slate-600 lg:pl-6 text-sm lg:border-l">
      <div class="lg:sticky lg:top-0">
        <div class="hidden lg:block text-center border-b border-zinc-300 dark:border-slate-600 font-semibold py-3">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        <div class="grid grid-cols-2 divide-x border-b border-zinc-300 divide-zinc-300 dark:border-slate-600 dark:divide-slate-600">
          <div class="text-center lg:text-left p-3 lg:pl-0">
            <div class="uppercase text-xs font-bold text-zinc-800 dark:text-slate-200">Published</div>
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </div>
          <div class="p-3 lg:pl-3 text-center lg:text-left">
            <div class="uppercase text-xs font-bold text-zinc-800 dark:text-slate-200">Tags</div>
            {{- $tags := .GetTerms "tags" }}
            {{- with $tags -}}
              {{- range $index, $tag := $tags }}
                <a href="{{ $tag.RelPermalink }}" class="ap-link no-underline hover:underline">{{ $tag.LinkTitle }}</a>
                {{- if ne (add $index 1) (len $tags) -}}, {{- end -}}
              {{- end }}
            {{ else }}
              (none)
            {{- end -}}
          </div>
        </div>
        {{ $hasLevel2Headings := false }}
        {{ range .Fragments.HeadingsMap }}
          {{ if eq .Level 2 }}
            {{ $hasLevel2Headings = true }}
          {{ end }}
        {{ end }}
        {{ if $hasLevel2Headings }}
          <div class="py-3 px-3 lg:px-0">
            <div class="mb-2 text-xs text-zinc-800 dark:text-slate-200"><span class="uppercase font-bold">Table of Contents</span> (<a href="#top" class="ap-link">Top</a>)</div>
            <div class="ml-4 [&_ol]:list-decimal [&_li]:marker:text-zinc-400 [&_li]:marker:dark:text-slate-300 [&_a]:ap-link [&_a]:no-underline [&_a]:hover:underline">
              {{ .TableOfContents }}
            </div>
          </div>
        {{ end }}
      </div>
    </aside>
  </div>
{{ end }}
