<div role="radiogroup" aria-labelledby="colour-picker-label" class="colour-picker-container group border-b border-b-transparent relative select-none cursor-pointer" data-loaded="false">
  <p id="colour-picker-label" class="sr-only">Choose colour theme</p>

  <div class="h-[24px] w-[70px] bg-slate-200 shadow-inner rounded-full border border-slate-400 dark:bg-slate-600 dark:border-slate-500"></div>

  <div class="absolute h-[24px] w-[70px] -translate-y-[24px]">
    <div class="invisible group-data-[loaded='true']:visible colour-picker-thumb h-[24px] w-[24px] bg-white border border-slate-400 rounded-full transition-transform translate-x-0 shadow dark:bg-slate-800 dark:border-slate-500"></div>
  </div>

  <div class="colour-picker-choices absolute px-1 flex h-[24px] w-[70px] items-center justify-between -translate-y-[24px] text-slate-400">
    <div>
      <svg role="radio" tabindex="0" aria-labelledby="colour-picker-light-label" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 aria-checked:text-slate-600 pointer-events-none dark:aria-checked:text-slate-300">
        <path d="M10 2a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 10 2ZM10 15a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 10 15ZM10 7a3 3 0 1 0 0 6 3 3 0 0 0 0-6ZM15.657 5.404a.75.75 0 1 0-1.06-1.06l-1.061 1.06a.75.75 0 0 0 1.06 1.06l1.06-1.06ZM6.464 14.596a.75.75 0 1 0-1.06-1.06l-1.06 1.06a.75.75 0 0 0 1.06 1.06l1.06-1.06ZM18 10a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 18 10ZM5 10a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 5 10ZM14.596 15.657a.75.75 0 0 0 1.06-1.06l-1.06-1.061a.75.75 0 1 0-1.06 1.06l1.06 1.06ZM5.404 6.464a.75.75 0 0 0 1.06-1.06l-1.06-1.06a.75.75 0 1 0-1.061 1.06l1.06 1.06Z" />
      </svg>
      <label id="colour-picker-light-label" class="sr-only">Light</label>
    </div>

    <div>
      <div role="radio" tabindex="0" aria-labelledby="colour-picker-system-label" class="h-[20px] w-[20px] flex justify-around items-center aria-checked:text-slate-600 pointer-events-none dark:aria-checked:text-slate-300">
        <span class="text-[8px] leading-[1px] font-bold font-mono">SYS</span>
      </div>
      <label id="colour-picker-system-label" class="sr-only">System</label>
    </div>

    <div>
      <svg role="radio" tabindex="0" aria-labelledby="colour-picker-dark-label" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 aria-checked:text-slate-600 pointer-events-none dark:aria-checked:text-slate-300">
        <path fill-rule="evenodd" d="M7.455 2.004a.75.75 0 0 1 .26.77 7 7 0 0 0 9.958 7.967.75.75 0 0 1 1.067.853A8.5 8.5 0 1 1 6.647 1.921a.75.75 0 0 1 .808.083Z" clip-rule="evenodd" />
      </svg>
      <label id="colour-picker-dark-label" class="sr-only">Dark</label>
    </div>
  </div>
</div>
