<div class="border-t border-b dark:border-slate-600 py-6 text-center">
  <form action="https://buttondown.email/api/emails/embed-subscribe/alexplescan" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/alexplescan', 'popupwindow')">
    <label class="block text-xl font-semibold mb-4" for="bd-email">Receive an email when I post</label>
    <div class="flex space-between items-center max-w-lg mx-auto">
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="Your email address"
        class="ap-input grow mr-4"
        required
      >
      <input type="submit" value="Subscribe" class="ap-btn">
    </div>
    <small>(No spam - you&rsquo;ll get no more than one email per month. I manage this list with
      <a target="_blank" href="https://buttondown.email">Buttondown</a>).</small>
  </form>
</div>

