{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $class := .Get "class" -}}
{{- $desiredWidth := .Get "width" -}}
{{- $width := $desiredWidth | default "640" -}}
{{- $width = int $width -}}
{{- $img := .Page.Resources.Get $src -}}
{{- $fallbackImg := $img.Process (print "resize " $width "x jpg") -}}

{{- $variants := slice
  (dict "type" "webp" "contentType" "image/webp")
  (dict "type" "jpg" "contentType" "image/jpeg")
-}}

{{- $dpiMultipliers := slice 1 -}}
{{- range slice 2 3 -}}
  {{- $multipliedWidth := mul $width . -}}
  {{- if lt $multipliedWidth $img.Width -}}
    {{- $dpiMultipliers = $dpiMultipliers | append . -}}
  {{- end -}}
{{- end -}}

<picture>
  {{- range $variant := $variants -}}
    <source type="{{ $variant.contentType }}" srcset="
      {{- range $i, $multiplier := $dpiMultipliers -}}
        {{- $multipliedWidth := mul $width $multiplier -}}
        {{- if $i }}, {{ end -}}
        {{- ($img.Process (print "resize " $multipliedWidth "x " $variant.type)).RelPermalink -}}
        {{- if ne $multiplier 1 -}}
          {{- print " " $multiplier "x" -}}
        {{- end -}}
      {{- end -}}
    " />
  {{- end -}}
  <img src="{{ $fallbackImg.RelPermalink }}" alt="{{ $alt }}"{{ if $class }} class="{{ $class }}"{{ end }} />
</picture>
{{- /* swallow trailing newline */ -}}
