<div class="soonlist-feature">
  <div class="phone first">
    <img alt="Soonlist app screenshot" src="/assets/soonlist_screenshots/soonlist-screenshot-1-compressed.jpg" srcset="/assets/soonlist_screenshots/soonlist-screenshot-1-compressed.jpg 1x, /assets/soonlist_screenshots/soonlist-screenshot-1-compressed@2x.jpg 2x">
  </div>
  <div class="phone second">
    <img  alt="Soonlist app screenshot" src="/assets/soonlist_screenshots/soonlist-screenshot-2-compressed.jpg" srcset="/assets/soonlist_screenshots/soonlist-screenshot-2-compressed.jpg 1x, /assets/soonlist_screenshots/soonlist-screenshot-2-compressed@2x.jpg 2x">
  </div>
  <div class="phone third">
    <img alt="Soonlist app screenshot" src="/assets/soonlist_screenshots/soonlist-screenshot-3-compressed.jpg" srcset="/assets/soonlist_screenshots/soonlist-screenshot-3-compressed.jpg 1x, /assets/soonlist_screenshots/soonlist-screenshot-3-compressed@2x.jpg 2x">
  </div>
</div>
